In [ ]:
# Combine Two Tables
# https://leetcode.com/problems/combine-two-tables/

SELECT Person.FirstName, Person.LastName, Address.City, Address.State FROM Person LEFT JOIN ADDRESS ON 
Person.PersonId = Address.PersonId

In [ ]:
# Write a SQL query to get the nth highest salary from the Employee table.
# https://leetcode.com/problems/nth-highest-salary/

CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
  SET N = N-1;
  RETURN (
      # Write your MySQL query statement below.
      SELECT DISTINCT Salary FROM Employee ORDER BY Salary DESC LIMIT 1 OFFSET N
  );
END

In [ ]:
# Employees Earning More Than Their Managers
# https://leetcode.com/problems/employees-earning-more-than-their-managers/

SELECT e.Name AS Employee FROM Employee e LEFT JOIN Employee m ON e.ManagerId = m.Id  WHERE e.Salary > m.Salary

In [ ]:
# Write a SQL query to find employees who earn the top three salaries in each of the department. 
# https://leetcode.com/problems/department-top-three-salaries/

SELECT d.Name AS Department, e.Name AS Employee, e.Salary FROM Employee e JOIN Department d ON e.DepartmentId = d.Id 
WHERE 3 > (SELECT COUNT(DISTINCT a.Salary) FROM Employee a WHERE e.Salary < a.Salary AND 
           a.DepartmentId = e.DepartmentId)

In [ ]:
# Write a SQL query to rank scores.
# https://leetcode.com/problems/rank-scores/

SELECT s1.Score, (SELECT COUNT(DISTINCT s2.Score) FROM Scores s2 WHERE s2.score >= s1.score) 'Rank' 
FROM Scores s1 ORDER BY Score DESC

In [ ]:
# Write a SQL query to find employees who have the highest salary in each of the departments. 
# https://leetcode.com/problems/department-highest-salary/

SELECT d.Name AS Department, e.Name AS Employee, e.Salary AS Salary FROM Employee e LEFT JOIN 
Department d ON e.DepartmentID = d.Id WHERE e.Salary =
(SELECT MAX(e2.Salary) FROM Employee e2 WHERE e2.DepartmentId = e.DepartmentID) AND d.Id IS NOT NULL

In [ ]:
# Write an SQL query to reformat the table such that there is a department id column and a 
# revenue column for each month.
# https://leetcode.com/problems/reformat-department-table/

SELECT id, SUM(IF(month = 'Jan', revenue, NULL)) AS 'Jan_Revenue', 
SUM( IF(month = 'Feb', revenue, NULL) ) AS 'Feb_Revenue', 
SUM( IF(month = 'Mar', revenue, NULL) ) AS 'Mar_Revenue', 
SUM( IF(month = 'Apr', revenue, NULL) ) AS 'Apr_Revenue', S
SUM( IF(month = 'May', revenue, NULL) ) AS 'May_Revenue', 
SUM( IF(month = 'Jun', revenue, NULL) ) AS 'Jun_Revenue', 
SUM( IF(month = 'Jul', revenue, NULL) ) AS 'Jul_Revenue', 
SUM( IF(month = 'Aug', revenue, NULL) ) AS 'Aug_Revenue', 
SUM( IF(month = 'Sep', revenue, NULL) ) AS 'Sep_Revenue', 
SUM( IF(month = 'Oct', revenue, NULL) ) AS 'Oct_Revenue', 
SUM( IF(month = 'Nov', revenue, NULL) ) AS 'Nov_Revenue', 
SUM( IF(month = 'Dec', revenue, NULL) ) AS 'Dec_Revenue' FROM Department GROUP BY id

In [ ]:
# Write a SQL query to delete all duplicate email entries in a table named Person, 
# keeping only unique emails based on its smallest Id.
# https://leetcode.com/problems/delete-duplicate-emails/

DELETE p1 FROM Person p1 JOIN Person p2 ON p1.Email = p2.Email WHERE p1.Id>p2.Id

In [ ]:
# Write an SQL query to find employee_id of all employees that directly or indirectly report 
# their work to the head of the company.
# https://leetcode.com/problems/all-people-report-to-the-given-manager/

SELECT d1.employee_id FROM Employees d1 JOIN Employees d2 ON d1.manager_id = d2.employee_id  
JOIN Employees d3 ON d2.manager_id = d3.employee_id WHERE d1.manager_id = 1 AND d1.employee_id != 1 
OR (d1.manager_id = d2.employee_id AND d2.manager_id = 1 AND d1.employee_id != 1) 
OR (d1.manager_id = d2.employee_id AND d2.manager_id = d3.employee_id AND d3.manager_id = 1 AND d1.employee_id != 1)

In [ ]:
# Write a SQL query to find all numbers that appear at least three times consecutively.
# https://leetcode.com/problems/consecutive-numbers/

SELECT DISTINCT l1.Num AS ConsecutiveNums From Logs l1 JOIN Logs l2 ON l1.Id+1 = l2.Id JOIN Logs l3 ON l2.Id+1 = l3.Id 
WHERE l1.Num = l2.Num AND l1.Num = l3.Num

In [ ]:
# FB interview
SELECT data_center, 1-AVG(success) from u group by data_center

In [ ]:
# Write a SQL query to find all duplicate emails in a table named Person.
# https://leetcode.com/problems/duplicate-emails/

SELECT Email FROM Person GROUP BY Email HAVING Count(Id)>1 

or

SELECT Email FROM (SELECT Email, COUNT(EMAIL) AS num FROM Person GROUP BY Email) as t1 WHERE num > 1

In [ ]:
# Suppose that a website contains two tables, the Customers table and the Orders table. 
# Write a SQL query to find all customers who never order anything.
# https://leetcode.com/problems/customers-who-never-order/

SELECT c.Name AS Customers FROM Customers c LEFT JOIN Orders o ON c.Id = o.CustomerId WHERE o.CustomerId IS NULL 
 
or

SELECT c.Name As Customers FROM Customers c WHERE c.Id NOT IN (SELECT o.CustomerId FROM Orders o)

In [ ]:
# Write an SQL query to find all dates' id with higher temperature compared to its previous dates (yesterday).
# https://leetcode.com/problems/rising-temperature/

SELECT w1.id FROM Weather w1 LEFT JOIN Weather w2 ON DATEDIFF(w1.Recorddate, w2.Recorddate) = 1 
    WHERE w1.Temperature > w2.Temperature

In [ ]:
# Write an SQL query that reports the first login date for each player.
# https://leetcode.com/problems/game-play-analysis-i/

SELECT player_id, MIN(event_date) AS first_login FROM Activity GROUP BY player_id

In [ ]:
# Write a SQL query that reports the device that is first logged in for each player.
# https://leetcode.com/problems/game-play-analysis-ii/

SELECT a1.player_id, a1.device_id FROM Activity a1 JOIN (SELECT player_id, MIN(event_date) 
    AS first_event FROM Activity GROUP BY player_id) AS a2 ON a1.player_id = a2.player_id  
    AND a1.event_date = a2.first_event